{
    "mode": "filesystem",
    "database": {
        "user": "",
        "password": "",
        "database": "",
        "host":     "localhost",
        "port":     3306
    },
    "highlight": "cb2821",
    "quiet": false,
    "logging": false,
    "disableSound": false,
    "webserver": {
        "enable": false,
        "port": 8080
    },
    "webinterface": {
        "enable": false,
        "port": 8080
    }
}
