// Package globals exists because go does not suppot circular dependencies,
// therefore this is it's own package.
package globals

// DatabaseCredentials is a struct that holds all database connection info.
var DatabaseCredentials = DatabaseConnection{
	Username: "",
	Password: "",
	Database: "",
	Host:     "localhost",
	Port:     "3306",
}
